<!-- wp:group {"className":"givelifewp-site","layout":{"type":"constrained"}} -->
<div class="wp-block-group givelifewp-site"><!-- wp:template-part {"slug":"header","tagName":"header","align":"wide","className":"givelifewp-header"} /-->

<!-- wp:group {"tagName":"main","className":"givelifewp-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group givelifewp-main"><!-- wp:post-title {"level":1,"className":"givelifewp-title","fontSize":"xx-large"} /-->

<!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"wide","className":"givelifewp-footer"} /--></div>
<!-- /wp:group -->
